body {
    margin: 0;
    padding: 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: white;
    text-transform: uppercase;
}

ul.navbar li a:hover {
    background-color: black;
    color: white;
}

/* Style the navigation bar */

.Top_nav {
    background-color: #FAF2F2;
}

nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style the logo */
.logo img {
    width: 100px;
    /* Adjust the width to your logo size */
}

/* Style the list items */
nav ul {
    display: flex;
    align-items: center;
}

nav li {
    margin: 0 15px;
}

/* Style the links */
nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Change link color on hover */
nav a:hover {
    color: #ff9900;
}

/* Banner */
.banner {
    background-image: url("../img/world-of-food.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 100vh;
    position: relative;
    align-items: center;
    background-color: #554e4e;
}

.vertical_center {
    margin: 0;
    position: absolute;
    top: 50%;
    right: 20%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    align-items: center;
    width: 60%;
    text-align: center;
    
}
 .Top_heading{
    color: #fff;
    text-transform: uppercase;
    margin: 30px;
}
.Top_description{
    color: #fff;
}
.exploreBtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    background-color: black;
    text-transform: uppercase;
    margin: auto;
    margin-top: 40px;
    cursor: pointer;
    border-color: #333;
    border-width: 2px;
    border-style: none;
    float: left;
}

/* vegan_restaurant */

.vegan_restaurant {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(233, 228, 228);
padding: 10px;


}

.vegan_res_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}

.vegan_res_img {
    width: 50%;
    margin: 5px;

}

.vegan_article {
    width: 40%;
    margin: 5px;
    height: auto;
    padding-right: 70px;

}

/* Indian_restaurant */

.indian_restaurant {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(233, 228, 228);
}

.indian_res_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}

.indian_res_img {
    width: 50%;
    margin: 5px;


}

.indian_article {
    width: 40%;
    margin: 5px;
    height: auto;
    padding-left: 67px;

}

/* chinese_restaurant */

.chinese_restaurant {
    margin: 30px;
    display: flex;
    justify-content: space-between;
    height: 300px;
    overflow: hidden;
    box-shadow: 10px 5px 5px rgb(233, 228, 228);

}

.chinese_res_img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;

}

.chinese_res_img {
    width: 50%;
    margin: 5px;
}

.chinese_article {
    width: 40%;
    margin: 5px;
    height: auto;
    padding-right: 70px;
}

/* World_of_food */
.world_food_heading{
    text-align: center;
}
.world_food_description{
    width: 90%;
    margin: auto;
    padding: 25px 12px;
}
.World_of_food {
    display: flex;
    justify-content: space-around;
}

.food img {
    width: 400px;
    height: 250px;
    border-radius: 25px;
}

.food h4 {
    text-align: center;
}

/*  Footer */

body, h1, h2, p {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
    margin-top: 20px;
}

.container {
   align-items: center;
   text-align: center;
}
.container li{
    list-style: none;
}
p {
    font-size: 16px;
}

.world_food_description::first-line {
    color: #ff0000;
    font-variant: small-caps;
  }